DOMAIN=mainnet.pokt.network
NODE_PREFIX=node
PEERSISTENT_PEERS=""
SEEDS="4b54c7ef83273bfb8cfd212ce7266de72716604d@node0.dev.pokt:26656,fcf719ca739dccbc281b12bc0d671aaa7a015848@node1.dev.pokt:26656,35df1afa3f2156cedaebe2e3a8e831b92c3a5ae3@node2.dev.pokt:26656,f81896be1964df0537a81274b4d2c9604124449e@node3.dev.pokt:26656"
NODE_PORT=8081
# What is this PEER_PORT for?
PEER_PORT=21056
NODE_N=0-4
# Pocket image is 0.6.4 but this points to 0.6.3, can we fix it?
SNAPSHOT_URL=https://link.us1.storjshare.io/raw/jxswez33rp3jebf5sakbycrkksya/pocket-public-blockchains/pocket-network-data-1229-rc-0.6.3.6.tar
USE_SNAPSHOT=False
USE_UPLINK=False
UPLINK_KEY=147A7s3UVY6g4DhxdatsM7QMofNBJJfvcq5w9XuYjU2HrmEbr4JSbRy3NQu3mijqk7T8in1PYEAdcf11dd5yhJ4eDAn4UMppBgqcN49f2tHVcGhRV2McpvyTm4U22uXH35h14JA1YXiGdUFDss7ThTnFnPYY8uRTxmtG2UrdW9LZkmuJysNF1sU8anEGcZnGQuYWViAzVx2VwtYTrYQE5CXPQotB2rnGwFaUY9vVeTCKFC8yiwZLHxhPJdZaexrZPbBTaf1xvmuyarMchkxvbn8K7pLXfw7n2xGArJavvRK86Nj1SrRr5ws9ku9i24WbGddKWz4SNaZgUH63Wm65yK8m91kgeHLDhhhR
CHAIN_LIST=''
KEYS=
CREATE_SNAPSHOT=False
RUN_DOCKER_COMPOSE=False
POCKET_IMAGE=poktnetwork/pocket:RC-0.6.4
USE_CACHE=True
ONLY_MONITORING=False
USE_MONITORING=True
SINGLE_MODE=False
MONITORING_DOMAIN=monitoring.lab.mainnet.pokt.network


